* {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
@media (max-width: 990px) {
  .container {
    max-width: 100%;
    margin: 0 30px;
  }
}

canvas {
  position: relative;
  z-index: 2;
  /* top: calc((100vh - 600px)/2 + 25px);
  left: 25px;
  z-index: 2; */
}
body {
  overflow: hidden;
  height: 100vh;
  margin: 0;
  width: 100vw;
  background: url('asset/bg.jpg') no-repeat;
  background-size: cover;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
}
.d-none {
  display: none;
}

.d-block {
  display: block !important;
}

.main {
  position: relative;
}

.main-content {
  width: 800px;
  height: 600px;
  position: relative;
  background-size: cover;
  display: flex;
  background-image: url(./asset/frame.jpg);
}
.game-zone {
  border-top: 5px solid #edb543;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 4px;
  max-width: 100%;
  z-index: 1;
  position: relative;
}

.core-value {
  display: flex;
  height: 80px;
  margin-bottom: 10px;
  background-image: url(asset/banner1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.slogan {
  font-size: 24px;
  margin: 0;
  color: white;
}

.col-left {
  flex: 0 0 100px;
  z-index: 1;
  padding: 10px;
}
.col-right {
  padding: 10px;
  padding-left: 0;
  flex: 0 0 270px;
  z-index: 2;
}
.level-image__item {
  transition: all 0.5s;
  animation: scale 2s infinite;
  width: 85%;
  display: block;
  margin: 0 auto;
  height: auto;
}
.banner {
  max-width: 100%;
  display: block;
  max-height: 50px;
}
@keyframes scale {
  0%   { transform: scale(1.05); }
  50% { transform: scale(1); }
  100% { transform: scale(1.05); }
}

.sounds audio {
  position: absolute;
  width: 0;
  height: 0;
  z-index: -999;
}

.top-list h3 {
  color: #dc3544;
  margin-bottom: 8px;
}

.top-list ol {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.top-list li {
  margin: 5px 0;
  display: flex;
  align-items: center;
  min-height: 40px;
  word-break: break-all;
  font-size: 14px;
}

.top-list__icon {
  height: 32px;
  margin-right: 14px;
}

.top-list .top-name {
  margin: 0 0 3px 0;
  line-height: 16px;
}

.top-list .top-score {
  margin: 0 0 3px 0;
  line-height: 1;
}

.form-regis {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  z-index: 9;
  background-color: #ffffffa8;
  border: 1px solid #eab542;
  border-radius: 3px;
  width: 240px;
}

.form-regis label {
  font-size: 18px;
  margin-bottom: 20px;
  display: block;
  text-align: center;
  color: #dc3544;
}

.form-regis input {
  background-color: #ffffffb3;
  border: 1px solid #f4da9e;
  border-radius: 3px;
  height: 38px;
  padding: 0 10px;
  font-size: 14px;
  width: 100%;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-regis input:focus {
  border-color: #80bdff;
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, .25);
}

.form-regis .btn-start {
  width: 160px;
  max-width: 100%;
  margin: 18px auto 0;
  text-align: center;
  background-color: #dc3545;
  border-radius: 3px;
  padding: 10px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 14px;
  border: 0;
}

.form-regis .btn-start:hover {
  background-color: #e00d21;
}

.form-regis .mess-error {
  color: red;
  text-align: center;
  font-size: 13px;
}

.info-user {
  display: none;
  margin-bottom: 10px;
  border-top: 5px solid #edb543;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, .5);
}

.info-user p {
  margin: 0 0 5px;
}

.top-list {
  border-top: 5px solid #edb543;
  border-radius: 4px;
  padding: 10px;
  background-color: rgba(255, 255, 255, .5);
}

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

ul {
  margin: 0;
}

.result-board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  width: 240px;
  display: none;
  opacity: 0;
  background-color: #333;
  text-align: center;
}

.result-board > img {
  width: 100%;
}

.result-board.show {
  display: block;
  animation: fade 2s forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn-replay {
  display: flex;
  width: 160px;
  max-width: 100%;
  margin: 12px auto 24px;
  border-radius: 3px;
  padding: 10px;
  font-size: 14px;
  border: 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.btn-replay img {
  height: 16px;
  width: 16px;
  margin-right: 12px;
}

.btn-replay:hover img {
  animation: rotate 1s forwards;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.sound-control {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #edb543;
}

.sound-control__guide {
  position: absolute;
  bottom: 10px;
  right: 40px;
  font-size: 12px;
  margin: 0;
  color: white;
  white-space: nowrap;
}

.sound-control img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  height: 22px;
}
