@font-face {
  font-family: Silva_Roicamonta;
  src: url('asset/Silva_Roicamonta.ttf');
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
@media (max-width: 990px) {
  .container {
    max-width: 100%;
    margin: 0 30px;
  }
}

canvas {
  position: relative;
  z-index: 2;
  /* top: calc((100vh - 600px)/2 + 25px);
  left: 25px;
  z-index: 2; */
}
body {
  overflow: hidden;
  height: 100vh;
  margin: 0;
  width: 100vw;
  background: url('asset/bg.jpg') no-repeat;
  background-size: cover;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
}
.d-none {
  display: none;
}

.d-block {
  display: block !important;
}

.main {
  position: relative;
}

.main-content {
  width: 800px;
  height: 600px;
  position: relative;
  background-size: cover;
  display: flex;
  background-image: url(./asset/frame.jpg);
}
.game-zone {
  border-top: 5px solid #edb543;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 4px;
  max-width: 100%;
  z-index: 1;
  position: relative;
}

.core-value {
  display: flex;
  height: 80px;
  margin-bottom: 10px;
  background-image: url(asset/bg-banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.slogan {
  font-family: Silva_Roicamonta;
  font-size: 30px;
  margin: 0;
  color: #ce3a2c;
}

.team-title {
  font-family: Silva_Roicamonta;
  font-size: 44px;
  margin: 0;
  color: #ce3a2c;
  position: absolute;
  top: 485px;
}

.col-left {
  flex: 0 0 100px;
  z-index: 1;
  padding: 10px;
  position: relative;
}
.col-right {
  padding: 10px;
  padding-left: 0;
  flex: 0 0 270px;
  z-index: 2;
}
.level-image__item {
  transition: all 0.5s;
  animation: scale 2s infinite;
  width: 82%;
  display: block;
  margin: 0 auto;
  height: auto;
}
.banner {
  max-width: 100%;
  display: block;
  max-height: 50px;
}
@keyframes scale {
  0%   { transform: scale(1.05); }
  50% { transform: scale(1); }
  100% { transform: scale(1.05); }
}

.sounds audio {
  position: absolute;
  width: 0;
  height: 0;
  z-index: -999;
}

.top-list h3 {
  color: #ce3a2c;
  margin-bottom: 8px;
}

.top-list ol {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.top-list li {
  margin: 5px 0;
  display: flex;
  align-items: center;
  min-height: 40px;
  word-break: break-all;
  font-size: 14px;
}

.top-list__icon {
  height: 32px;
  margin-right: 14px;
}

.top-list .top-name {
  margin: 0 0 3px 0;
  line-height: 16px;
}

.top-list .top-score {
  margin: 0 0 3px 0;
  line-height: 1;
}

.form-regis {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  z-index: 9;
  background-color: #ffffffa8;
  border: 1px solid #eab542;
  border-radius: 3px;
  width: 240px;
}

.form-regis label {
  font-size: 18px;
  margin-bottom: 20px;
  display: block;
  text-align: center;
  color: #ce3a2c;
}

.form-regis input {
  background-color: #ffffffb3;
  border: 1px solid #f4da9e;
  border-radius: 3px;
  height: 38px;
  padding: 0 10px;
  font-size: 14px;
  width: 100%;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-regis input:focus {
  border-color: #80bdff;
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, .25);
}

.form-regis .btn-start {
  width: 160px;
  max-width: 100%;
  margin: 18px auto 0;
  text-align: center;
  background-color: #dc3545;
  border-radius: 3px;
  padding: 10px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 14px;
  border: 0;
}

.form-regis .btn-start:hover {
  background-color: #e00d21;
}

.form-regis .mess-error {
  color: red;
  text-align: center;
  font-size: 13px;
}

.info-user {
  display: none;
  margin-bottom: 10px;
  border-top: 5px solid #edb543;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, .5);
}

.info-user p {
  margin: 0 0 5px;
}

.top-list {
  border-top: 5px solid #edb543;
  border-radius: 4px;
  padding: 10px;
  background-color: rgba(255, 255, 255, .5);
}

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

ul {
  margin: 0;
}

.result-board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  width: 240px;
  display: none;
  opacity: 0;
  background-color: #333;
  text-align: center;
}

.result-board > img {
  width: 100%;
}

.result-board.show {
  display: block;
  animation: fade 2s forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn-replay {
  display: flex;
  width: 160px;
  max-width: 100%;
  margin: 12px auto 24px;
  border-radius: 3px;
  padding: 10px;
  font-size: 14px;
  border: 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.btn-replay img {
  height: 16px;
  width: 16px;
  margin-right: 12px;
}

.btn-replay:hover img {
  animation: rotate 1s forwards;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.sound-control {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #edb543;
}

.sound-control__guide {
  position: absolute;
  bottom: 10px;
  right: 40px;
  font-size: 12px;
  margin: 0;
  color: white;
  white-space: nowrap;
}

.sound-control img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  height: 22px;
}

.btn-show-info-page {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  text-align: center;
  color: #ecbf5c;
  cursor: pointer;
}

.btn-show-info-page img {
  width: 14px;
}

.info-page {
  height: 100vh;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  background-color: white;
  background-image: url('./asset/frontend.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: .6s;
}

.info-page.hide {
  top: -100vh;
  transition: .6s;
}

.info-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .8;
}

.info-page .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  color: white;
  text-align: center;
}

.info-page .content-wrap {
  overflow-y: auto;
  padding: 40px;
  background: rgba(0,0,0,0.5);
  box-shadow: 0 3px 20px rgba(0,0,0,0.5);
  min-width: 650px;
  border-radius: 4px;
}

.content-wrap h2 {
  margin-bottom: 15px;
  color: #dc3545;
}

.content-wrap h3 {
  font-size: 16px;
}

.info-page .content-wrap::-webkit-scrollbar {
  width: 8px;
}

.info-page .content-wrap::-webkit-scrollbar-track {
  background: transparent;
}

.info-page .content-wrap::-webkit-scrollbar-thumb {
  background: transparent;
}

.info-page .play {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-page .play button {
  border: 0;
  border-radius: 3px;
  background-color: #dc3544;
  box-shadow: 0px 0px 14px #be9c9f;
  color: white;
  padding: 16px 24px;
  cursor: pointer;
  font-size: 24px;
}

.info-page .play button:hover {
  background-color: #e00d21;
}

.gif-tutorial {
  margin: 30px auto;
  max-width: 70%;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: baseline;
  align-content: center;
}

.footer .wrap {
  width: 70%;
  display: flex;
  text-align: center;
}

.col {
  width: 33.33%;
}

.col > h2 {
  font-size: 18px;
}

.col > h3 {
  font-size: 14px;
}

@media(max-height: 700px) {
  .gif-tutorial {
    margin: 30px auto;
    max-width: 62vw;
    max-height: 60vh;
  }

  .col > h2 {
    font-size: 16px;
  }

  .col > h3 {
    font-size: 12px;
  }

  .info-page .play button {
    font-size: 20px;
    padding: 12px 20px;
  }
}
